@use '../../@shared/mixins' as *;

.mainlayout {
	display: grid;
	width: 100%;
	min-height: calc(100vh - to-rem(32));
	column-gap: to-rem(16);
	grid-template-areas: 'nav content';
	grid-template-columns: to-rem(400) calc(100% - to-rem(460));
	grid-template-rows: 1fr;

	&>.nav-area {
		grid-area: nav;
	}

	&>.content {
		grid-area: content;
	}
}