@use './@shared/mixins' as *;

:root {
	--kolibri-root-font-size: 100;
	font-size: 625%;
}

body {
	margin: 0;

	font-family: Verdana;
	font-size: to-rem(16);
	line-height: normal;
}

dl,
hr {
	margin: 0;
}

.grid-cols-2 {
	grid-template-columns: auto auto;
}

.indented-text {
	p {
		margin: 0;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;

	white-space: nowrap;
	clip-path: inset(50%);
}

.black-background {
	background-color: black;
	display: flex;
	padding: to-rem(8);
	flex-direction: column;
}

.w-image {
	width: 500px;
}

.drawer-content-vertical {
	width: to-rem(400);
}

@media (min-width: 1024px) {
	.app-container {
		display: grid;
		height: 100%;
		min-height: 100vh;
		grid-template-columns: to-rem(360) calc(100% - to-rem(360));
	}

	.app-sidebar {
		position: relative;
		z-index: 1;
		border-right: 1px solid gray;

		& .scrollable-container-wrapper {
			display: flex;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			width: to-rem(330);
			margin: to-rem(16);
			flex-direction: column;

			& .scrollable-container {
				overflow: auto;
				flex: 1 auto;
			}
		}
	}
}

@media print {
	.no-print,
	.no-print * {
		display: none !important;
	}
}
